<%- include('../common/header.ejs', jsFiles=["/js/etc/nutrition.js"], cssFiles=[]) %>

<div id="container" class="nutrition">
    <div class="cont1 cont">
        <div class="center">
            <h2 class="topTitle poppins">NUTRITION</h2>
            <p class="topSubTitle">
                POKE ALL DAY에서 내 입맛대로 조합한 메뉴의<br>
                칼로리를 쉽게 확인해보세요.
            </p>
        </div>
    </div>

    <div class="cont2 cont">
        <div class="center">
            <div class="top">
                <div class="circle">
                    <span class="material-symbols-outlined circleIcon">calculate</span>
                </div>
                <h3 class="poppins">칼로리 계산기</h3>
            </div>
            <div class="bottom">
                <div class="selectWrap">
                    <% for( let i = 0; i < nutrition.length; i++ ) { %>
                        <div class="selectBtns">
                            <h5 class="label poppins"><%- nutrition[i].kind %></h5>
                            <div class="selectList">
                                <a class="selBtn" href="#">
                                    <%- nutrition[i].defaultText %>
                                    <span class="material-symbols-outlined">expand_more</span>
                                </a>
                                <ul class="option">
                                    <% for( let a = 0; a < nutrition[i].list.length; a++ ) { %>
                                        <li><%- nutrition[i].list[a]%></li>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                    <% } %>
                    <!-- <div class="selectBtns">
                        <h5 class="label poppins">Base</h5>
                        <div class="selectList">
                            <a class="selBtn" href="#">
                                베이스를 선택해주세요.
                                <span class="material-symbols-outlined">expand_more</span>
                            </a>
                            <ul class="option">
                                <li>현미밥</li>
                                <li>메밀면</li>
                                <li>채소만</li>
                                <li>비건(현미밥)</li>
                                <li>비건(메밀면)</li>
                                <li>비건(채소만)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="selectBtns">
                        <h5 class="label poppins">Main Topping</h5>
                        <div class="selectList">
                            <a class="selBtn" href="#">
                                메인토핑을 선택해주세요.
                                <span class="material-symbols-outlined">expand_more</span>
                            </a>
                            <ul class="option">
                                <li>현미밥</li>
                                <li>메밀면</li>
                                <li>채소만</li>
                                <li>비건(현미밥)</li>
                                <li>비건(메밀면)</li>
                                <li>비건(채소만)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="selectBtns">
                        <h5 class="label poppins">Souce</h5>
                        <div class="selectList">
                            <a class="selBtn" href="#">
                                소스를 선택해주세요.
                                <span class="material-symbols-outlined">expand_more</span>
                            </a>
                            <ul class="option">
                                <li>현미밥</li>
                                <li>메밀면</li>
                                <li>채소만</li>
                                <li>비건(현미밥)</li>
                                <li>비건(메밀면)</li>
                                <li>비건(채소만)</li>
                            </ul>
                        </div>
                    </div> -->
                </div>
                <div class="resultWrap">
                    <div class="resultBox">
                        <p class="resultItem">
                            <span class="text">현미밥</span>
                            <span class="material-symbols-outlined closeIcon">close</span>
                        </p>
                    </div>
                    <div class="resultValue">
                        <p>Total</p>
                        <h3><span>0</span>Kcal</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../common/moveTop.ejs') %>
</div>


<%- include('../common/footer.ejs') %>