<%- include('../common/header.ejs', jsFiles=["/js/etc/nutrition.js"], cssFiles=[]) %>

<div id="container" class="nutrition">
    <div class="cont1 cont">
        <div class="center">
            <h2 class="topTitle poppins">NUTRITION</h2>
            <p class="topSubTitle">
                POKE ALL DAY에서 내 입맛대로 조합한 메뉴의<br>
                칼로리를 쉽게 확인해보세요.
            </p>
        </div>
    </div>

    <div class="cont2 cont">
        <div class="center">
            <div class="top">
                <div class="circle">
                    <span class="material-symbols-outlined circleIcon">calculate</span>
                </div>
                <h3 class="poppins">메뉴 칼로리 계산기</h3>
            </div>
            <div class="bottom">
                <div class="selectWrap">
                    <% for( let i = 0; i < nutrition.length; i++ ) { %>
                        <div class="selectBtns">
                            <h5 class="label poppins"><%- nutrition[i].kind %></h5>
                            <div class="selectList">
                                <a class="selBtn" href="#">
                                    <%- nutrition[i].defaultText %>
                                </a>
                                <span class="material-symbols-outlined moreIcon">expand_more</span>
                                <ul class="option">
                                    <% for( let a = 0; a < nutrition[i].list.length; a++ ) { %>
                                        <li><%- nutrition[i].list[a]%></li>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                    <% } %>
                </div>
                <div class="resultWrap">
                    <div class="resultBox">
                        <p class="resultItem">
                            <span class="text">현미밥</span>
                            <span class="material-symbols-outlined closeIcon">close</span>
                        </p>
                    </div>
                    <div class="resultValue">
                        <p>Total</p>
                        <h3><span>0</span>Kcal</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cont3 cont">
        <div class="center">
            <div class="top">
                <div class="circle">
                    <span class="material-symbols-outlined chartIcon">assignment</span>
                </div>
                <h3 class="poppins">포케 올데이 전체 칼로리표</h3>
            </div>
            <div class="bottom">
                <p>보편적인 <span>성인 권장 일일 칼로리는 남성 2700kcal, 여성 2000kcal</span> 입니다.</p>
                <p>하지만 개인의 나이, 기초대사량에 따라 권장 칼로리는 달라집니다.</p>
                <p>본인에게 맞는 열량을 확인하고 다른 끼니의 열량을 고려하여 포케 올데이의 메뉴들을 선택해보세요.</p>
                <p>더 건강하고 부담없는 하루를 보내실 수 있을 거예요.</p>                
                <a class="download" href="/img/pokeAllDay_nutrition.pdf" target="_blank">
                    <span>칼로리차트 다운로드</span>
                    <span class="material-symbols-outlined downIcon">download</span>
                </a>
            </div>
        </div>
    </div>

    <%- include('../common/moveTop.ejs') %>
</div>


<%- include('../common/footer.ejs') %>